<div>
  <h1 class="font-bold text-4xl text-blue-500">WeatherBear</h1>
  <p class="italic">Just the bare essentials of a daily forecast</p>
  <hr>
  <br><br>
  <p class="cursor-pointer text-center" data-controller="joke" data-action="click->joke#handleClick"></p>
  <img src="assets/hans-the-bear.png" />
</div>
